.cf::after {
	clear: both; display: table; content: "";
}
@media only screen and (min-width:900px)
{
.woocommerce ul.products {
	margin: 0px -1.5%;
}
}
html .woocommerce ul.products {
	text-align: center;
}
html .woocommerce ul.products li.product {
	margin-right: 1.25%; margin-left: 1.25%;
}
.woocommerce ul.products li.product {
	margin: 0px 1.5% 78px; width: 46% !important; text-align: center; vertical-align: top; float: none !important; display: inline-block; position: relative;
}
@media screen and (min-width:769px)
{
.woocommerce ul.products li.product {
	width: 30% !important;
}
}
.woocommerce ul.products li.product .product__title {
	margin: 18px 0px 3px;
}
.woocommerce ul.products li.product .product__button {
	background: white !important; transition:opacity 0.2s linear; left: 50%; bottom: 0px; color: rgb(197, 157, 95); position: absolute; opacity: 0; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -moz-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear;
}
.woocommerce ul.products li.product:hover .product__button {
	opacity: 1;
}
.woocommerce ul.products li.product:hover .price {
	opacity: 0;
}
.woocommerce ul.products li.product .price {
	transition:opacity 0.2s linear; color: rgb(38, 37, 38) !important; font-family: "Source Sans Pro",Georgia,serif; font-size: 19px !important; margin-bottom: 0px !important; -moz-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear;
}
.woocommerce ul.products li.product .price ins {
	color: rgb(197, 157, 95); border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.woocommerce ul.products li.product .price del {
	font-size: 19px !important; display: inline-block;
}
.woocommerce ul.products li.product hr {
	margin: 12px 0px;
}
.woocommerce ul.products li.product .product__cat {
	padding: 0px 6px; border: 0px currentColor; border-image: none; color: rgb(179, 179, 179); text-transform: uppercase; font-size: 13px; font-weight: normal;
}
.woocommerce ul.products li.product .added_to_cart {
	left: 50%; bottom: 0px; margin-top: 12px; position: absolute; z-index: 10; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);
}
.woocommerce ul.products li.product .added_to_cart::after {
	content: none;
}
.woocommerce ul.products li.product .added_to_cart::before {
	background: white; left: 0px; width: 100%; height: 30px; bottom: 0px; position: absolute; z-index: -1; content: "";
}
.woocommerce ul.products li.product a.added_to_cart {
	padding: 0px 0px 3px !important; font-size: 15px !important;
}
.woocommerce ul.products li.product a img {
	box-shadow: none !important; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page ul.products li.product a img {
	box-shadow: none !important; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page ul.products li.product .pagination {
	margin: 40px 0px;
}
.archive.woocommerce-page .shop-categories {
	margin-top: 72px;
}
.post-type-archive-product.woocommerce-page .shop-categories {
	margin-top: 0px;
}
.tabs__nav.shop-categories {
	margin-top: -12px; margin-bottom: 70px;
}
.shop-categories a {
	margin: 0px 12px; transition:0.2s; line-height: 1.51; font-size: 1.5rem; -moz-transition: all 0.2s; -webkit-transition: all 0.2s;
}
.shop-categories a.active {
	color: rgb(197, 157, 95); border-bottom-color: rgb(197, 157, 95); border-bottom-width: 3px; border-bottom-style: solid;
}
@media screen and (max-width:769px)
{
.shop-categories a {
	line-height: 1.51; font-size: 1rem;
}
}
.single-product .product .pixcode--tabs {
	clear: both;
}
.woocommerce div.products.related ul.products {
	position: relative; z-index: 50;
}
@media only screen and (min-width:900px)
{
.woocommerce div.products.related ul.products {
	margin: 0px -1.5%;
}
.woocommerce div.products.related ul.products li.product {
	margin: 0px 1.5% 48px; width: 30%;
}
}
.woocommerce .woocommerce-product-rating .star-rating {
	margin: 0px 0px 0px 12px; float: none;
}
.woocommerce-page .woocommerce-product-rating .star-rating {
	margin: 0px 0px 0px 12px; float: none;
}
.woocommerce .woocommerce-product-rating .woocommerce-review-link {
	vertical-align: middle; display: inline-block;
}
.woocommerce .woocommerce-product-rating .star-rating {
	vertical-align: middle; display: inline-block;
}
.woocommerce .woocommerce-product-rating .woocommerce-review-link {
	color: rgb(38, 37, 38); line-height: 1.51; font-size: 1rem; font-weight: bold;
}
.woocommerce #content div.product div.images img {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce div.product div.images img {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page #content div.product div.images img {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page div.product div.images img {
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.single-product .entry-summary .price {
	line-height: 1; margin-top: 24px; margin-bottom: 36px; display: block;
}
.single-product .entry-summary .price span {
	color: rgb(197, 157, 95); font-size: 40px; font-weight: bold;
}
.single-product .entry-summary .price del span {
	color: rgb(179, 179, 179); font-size: 30px; font-weight: normal; margin-right: 9px;
}
.single-product .entry-summary .price ins {
	color: rgb(38, 37, 38); font-size: 30px;
}
.single-product .entry-summary .price ins span {
	color: rgb(38, 37, 38); font-size: 30px;
}
.single-product .entry-summary .price del {
	display: inline-block !important;
}
.single-product .entry-summary form.cart {
	margin-top: 6px; margin-bottom: 60px !important;
}
.single-product .entry-summary .woocommerce-breadcrumb {
	font-size: 12px;
}
.single-product .entry-summary .woocommerce-breadcrumb {
	color: rgb(179, 179, 179);
}
.single-product .entry-summary .woocommerce-breadcrumb a {
	color: rgb(179, 179, 179);
}
.single-product-description {
	line-height: 1.7242; font-size: 0.87rem;
}
.woocommerce #content .quantity input.qty {
	background: rgb(38, 37, 38); padding: 0px; border-radius: 5px; border: currentColor; border-image: none; width: 70px; height: 36px; color: white; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce .quantity input.qty {
	background: rgb(38, 37, 38); padding: 0px; border-radius: 5px; border: currentColor; border-image: none; width: 70px; height: 36px; color: white; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce-page #content .quantity input.qty {
	background: rgb(38, 37, 38); padding: 0px; border-radius: 5px; border: currentColor; border-image: none; width: 70px; height: 36px; color: white; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce-page .quantity input.qty {
	background: rgb(38, 37, 38); padding: 0px; border-radius: 5px; border: currentColor; border-image: none; width: 70px; height: 36px; color: white; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce #content input.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce #respond input.alt#submit {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce a.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce button.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce input.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page #content input.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page #respond input.alt#submit {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page a.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page button.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page input.alt.button {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce-page #respond input#submit {
	background: rgb(38, 37, 38); border: currentColor; border-image: none; margin-left: 12px; box-shadow: none; text-shadow: none;
}
.woocommerce #content input.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce #respond input.alt#submit:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce a.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce button.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce input.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page #content input.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page #respond input.alt#submit:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page a.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page button.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page input.alt.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page #respond input#submit:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li::before {
	content: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	content: none !important;
}
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li::before {
	content: none !important;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}
.woocommerce-page div.product .woocommerce-tabs ul.tabs li::before {
	content: none !important;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
	background: none !important; border: currentColor !important; border-image: none !important; box-shadow: none !important;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs::before {
	content: none !important;
}
.woocommerce .woocommerce-tabs > hr {
	margin-bottom: 30px;
}
.woocommerce .woocommerce-tabs li {
	line-height: 1.21; font-size: 1.25rem; font-weight: 500;
}
.woocommerce .woocommerce-tabs li.active a {
	padding-bottom: 3px; border-bottom-color: rgb(38, 37, 38); border-bottom-width: 2px; border-bottom-style: solid;
}
#review_form .comment-form-rating {
	margin: 12px 0px !important; width: 100%; padding-left: 1.5rem; vertical-align: top; display: inline-block;
}
#review_form .comment-reply-title {
	margin-bottom: 24px;
}
#reviews .description {
	line-height: 1.7242; font-size: 0.87rem;
}
.related__title {
	margin: 48px 0px; text-align: center;
}
.related-separator {
	margin: 72px 0px;
}
.product_title {
	margin-bottom: 24px;
}
.product__tabs a {
	margin: 0px 12px; line-height: 1.51; font-size: 1.5rem;
}
.woocommerce-breadcrumb {
	color: rgb(179, 179, 179); text-transform: uppercase; line-height: 1.8561; font-size: 0.81rem;
}
.woocommerce-breadcrumb a {
	border: 0px currentColor !important; border-image: none !important;
}
.woocommerce-breadcrumb a::after {
	margin: 0px 6px; content: "\00BB";
}
.woocommerce #page div.product form.cart .variations td.label {
	padding: 1em;
}
.woocommerce #page div.product div.thumbnails a {
	margin-bottom: 3.8%;
}
.woocommerce .star-rating span::before {
	color: rgb(197, 157, 95);
}
.woocommerce #review_form #respond textarea {
	height: 131px !important; overflow: scroll !important;
}
.woocommerce-page #review_form #respond textarea {
	height: 131px !important; overflow: scroll !important;
}
.woocommerce div.product p.price {
	color: gray;
}
.woocommerce div.product span.price {
	color: gray;
}
.woocommerce button.single_add_to_cart_button {
	font-weight: bold !important;
}
.woocommerce .cart-collaterals .cart_totals {
	width: 100% !important; text-align: left; float: none !important;
}
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100% !important; text-align: left; float: none !important;
}
.woocommerce .cart-collaterals .shipping_calculator {
	width: 100% !important; text-align: left; float: none !important;
}
.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 100% !important; text-align: left; float: none !important;
}
td.actions input.button {
	line-height: 1.6345 !important;
}
td.actions {
	padding: 12px 6px !important;
}
.woocommerce #content .quantity {
	margin-left: 0px;
}
.woocommerce .quantity {
	margin-left: 0px;
}
.woocommerce-page #content .quantity {
	margin-left: 0px;
}
.woocommerce-page .quantity {
	margin-left: 0px;
}
.woocommerce table.shop_table {
	border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce-page table.shop_table {
	border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce #content table.cart td.actions .coupon .input-text {
	width: 120px; height: 38px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce table.cart td.actions .coupon .input-text {
	width: 120px; height: 38px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page #content table.cart td.actions .coupon .input-text {
	width: 120px; height: 38px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page table.cart td.actions .coupon .input-text {
	width: 120px; height: 38px; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.shipping-calculator-button::after {
	content: none !important;
}
.product-thumbnail-link {
	color: rgb(38, 37, 38);
}
.wc-proceed-to-checkout {
	text-align: right; float: right; max-width: 300px;
}
.wc-proceed-to-checkout .button {
	font-weight: bold !important;
}
.woocommerce-shipping-calculator {
	margin-top: 20px;
}
.shipping-calculator-form {
	margin-bottom: 20px;
}
.shipping-calculator-form button[type=submit] {
	margin-top: 20px;
}
.container .woocommerce .cart-collaterals .cross-sells {
	width: 100%;
}
.woocommerce ul.products li.product .product__button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce ul.products li.product .added_to_cart {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce ul.products li.product a.added_to_cart {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce #content input.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce #respond input.alt#submit {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce a.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce button.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce input.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page #content input.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page #respond input.alt#submit {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page a.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page button.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page input.alt.button {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce-page #respond input#submit {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.product__badge {
	padding: 12px 30px; border-radius: 3px; transition:0.15s; color: white; text-transform: uppercase; line-height: 1; letter-spacing: 0.2em; font-size: 12px; font-weight: normal; background-color: rgb(38, 37, 38); -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.woocommerce ul.products li.product .product__button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce ul.products li.product .added_to_cart:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce #content input.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce #respond input.alt#submit:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce a.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce button.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce input.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce-page #content input.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce-page a.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce-page button.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce-page input.alt.button:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce-page #respond input#submit:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.product__badge:hover {
	color: white; background-color: rgb(197, 157, 95);
}
.woocommerce ul.products li.product .product__button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce ul.products li.product .added_to_cart.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce #content input.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce #respond input.alt.a#submit {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce a.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce button.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce input.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce-page #content input.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce-page a.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce-page button.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce-page input.alt.button.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.woocommerce-page #respond input.a#submit {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.product__badge.a {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.on-sale.product__badge {
	color: white; background-color: rgb(197, 157, 95);
}
.on-sale.product__badge:hover {
	background-color: rgb(38, 37, 38) !important;
}
.product__badge {
	padding: 9px 18px;
}
.woocommerce ul.products li.product .product__button {
	background: none !important; border-width: 0px 0px 2px; border-style: none none solid; border-color: currentColor currentColor rgb(197, 157, 95); padding: 3px 0px; border-radius: 0px; border-image: none; color: rgb(197, 157, 95); text-transform: uppercase; line-height: 1; letter-spacing: 0.1em; font-size: 15px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce ul.products li.product .added_to_cart {
	background: none !important; border-width: 0px 0px 2px; border-style: none none solid; border-color: currentColor currentColor rgb(197, 157, 95); padding: 3px 0px; border-radius: 0px; border-image: none; color: rgb(197, 157, 95); text-transform: uppercase; line-height: 1; letter-spacing: 0.1em; font-size: 15px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce ul.products li.product .product__button:hover {
	border-color: rgb(38, 37, 38) !important; color: rgb(38, 37, 38) !important;
}
.woocommerce ul.products li.product .added_to_cart:hover {
	border-color: rgb(38, 37, 38) !important; color: rgb(38, 37, 38) !important;
}
.product__badge {
	left: -3px; top: -3px; position: absolute;
}
.woocommerce ins {
	border: currentColor; border-image: none;
}
.woocommerce .table--striped tbody tr:nth-of-type(2n+1) {
	background: none;
}
.woocommerce table tbody tr:nth-of-type(2n+1) {
	background: none;
}
.woocommerce-page .table--striped tbody tr:nth-of-type(2n+1) {
	background: none;
}
.woocommerce-page table tbody tr:nth-of-type(2n+1) {
	background: none;
}
.woocommerce .woocommerce-message {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce .woocommerce-info {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce .woocommerce-error {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce-page .woocommerce-message {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce-page .woocommerce-info {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce-page .woocommerce-error {
	background: none; border-radius: 0px; border: 1px solid rgb(216, 216, 216); border-image: none; padding-left: 1em !important; margin-top: 24px !important; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.woocommerce .woocommerce-message::before {
	content: none;
}
.woocommerce .woocommerce-info::before {
	content: none;
}
.woocommerce .woocommerce-error::before {
	content: none;
}
.woocommerce-page .woocommerce-message::before {
	content: none;
}
.woocommerce-page .woocommerce-info::before {
	content: none;
}
.woocommerce-page .woocommerce-error::before {
	content: none;
}
.woocommerce .woocommerce-message .button::after {
	content: none;
}
.woocommerce .woocommerce-info .button::after {
	content: none;
}
.woocommerce .woocommerce-error .button::after {
	content: none;
}
.woocommerce-page .woocommerce-message .button::after {
	content: none;
}
.woocommerce-page .woocommerce-info .button::after {
	content: none;
}
.woocommerce-page .woocommerce-error .button::after {
	content: none;
}
.woocommerce .woocommerce-error {
	border: 1px solid red; border-image: none;
}
.woocommerce-page .woocommerce-error {
	border: 1px solid red; border-image: none;
}
#review-submit {
	background: rgb(38, 37, 38); padding: 6px 24px; border-radius: 5px; border: currentColor; transition:0.15s; border-image: none; color: white; text-transform: uppercase; line-height: 1.8665; letter-spacing: 0.06em; font-size: 0.87rem; font-weight: 300; -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce div.woocommerce-message .button {
	background: rgb(38, 37, 38); padding: 6px 24px; border-radius: 5px; border: currentColor; transition:0.15s; border-image: none; color: white; text-transform: uppercase; line-height: 1.8665; letter-spacing: 0.06em; font-size: 0.87rem; font-weight: 300; -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
td.actions input.button {
	background: rgb(38, 37, 38); padding: 6px 24px; border-radius: 5px; border: currentColor; transition:0.15s; border-image: none; color: white; text-transform: uppercase; line-height: 1.8665; letter-spacing: 0.06em; font-size: 0.87rem; font-weight: 300; -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
form.shipping_calculator button.button {
	background: rgb(38, 37, 38); padding: 6px 24px; border-radius: 5px; border: currentColor; transition:0.15s; border-image: none; color: white; text-transform: uppercase; line-height: 1.8665; letter-spacing: 0.06em; font-size: 0.87rem; font-weight: 300; -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.woocommerce-page input.button {
	background: rgb(38, 37, 38); padding: 6px 24px; border-radius: 5px; border: currentColor; transition:0.15s; border-image: none; color: white; text-transform: uppercase; line-height: 1.8665; letter-spacing: 0.06em; font-size: 0.87rem; font-weight: 300; -moz-transition: all 0.15s; -webkit-transition: all 0.15s; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
#review-submit:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce div.woocommerce-message .button:hover {
	background: rgb(197, 157, 95); color: white;
}
td.actions input.button:hover {
	background: rgb(197, 157, 95); color: white;
}
form.shipping_calculator button.button:hover {
	background: rgb(197, 157, 95); color: white;
}
.woocommerce-page input.button:hover {
	background: rgb(197, 157, 95); color: white;
}
#ship-to-different-address * {
	margin: 0px; padding: 0px; display: inline-block;
}
ul.payment_methods li * {
	display: inline-block;
}
.woocommerce-page #payment div.payment_box {
	background: none; border: 1px solid rgb(216, 216, 216); border-image: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.woocommerce-page #payment div.payment_box::after {
	content: none;
}
.woocommerce-page .article__parallax--img img {
	max-width: none;
}
.woocommerce .header--slideshow img {
	max-width: none;
}
